{#
This file is responsible for exporting categories to csv file.
@category View
@Package Virtua_Internship
@copyright Copyright (c) 2018 Virtua (http://www.wearevirtua.com)
@author Maciej Skalny contact@wearevirtua.com
#}

<form method="post" action="{{ path('categories_export') }}">
    <button class="btn btn-danger">Export to CSV</button>
</form>